* {
    box-sizing: border-box;
  }
  
  body {
    /* background-color: #eeeeee; */
    font-family: sans-serif;
    background: url("cloud2.jpg");  
    background-repeat: no-repeat;  /* This prevents the image from repeating */
    background-position: center;  /* This centers the image horizontally */
    background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff;  */
    background: url("cloudsmall.jpg");
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #search-bar {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  #search-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 80px;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .humidity,
  .wind {
    margin-top: 20px;
  }
